@import "tailwindcss";
@theme {
  --color-expecard-pi: #faf7e9;
}
@plugin "daisyui" {
  themes: scefi --default, scefi-dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "scefi";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #f6ecc4;
  --color-base-200: #faf7e9;
  --color-base-300: #f9f5e4;
  --color-base-content: #000000;

  --color-primary: #fe8e2f;
  --color-secondary: #73c3c3;

  --color-accent: #c9e7e7;
  --color-neutral: #0f0c39;

  --color-expecard-pi: #faf7e9;
}

@plugin "daisyui/theme" {
  name: "scefi-dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #212b3a;
  --color-base-200: #1e1b4b;
  --color-base-300: #231065;
  --color-base-content: #ffffff;

  --color-primary: #2f628b;
  --color-secondary: #352c6f;

  --color-accent: #40444a;

  --color-expecard-pi: #c7a1f6;
}
